<div class="container" id="users-container">
  <section class="head">
    <div class="search-bar">
      <h1>Encontre as <span class="text-pink">pessoas</span><br>que compõe nossa equipe!</h1>
      <form>
        <i class="eva eva-search-outline "></i>
        <input class="search-input" type="text" placeholder="Quem você deseja procurar?">
        <!-- Trecho do html abaixo será aproveitado na tela de oportunidades -->
        <!-- <select class="select1" style="color: #8f8f8f">
          <option value="all" selected>&nbsp;&#xf009;&nbsp;&nbsp;Tipo</option>
          <option value="job">&nbsp;&#xf0f2;&nbsp;&nbsp;Estágio/Emprego</option>
          <option value="event">&nbsp;&#xf005;&nbsp;&nbsp;Evento</option>
          <option value="specialization">&nbsp;&#xf518;&nbsp;&nbsp;Pós-Graduação</option>
        </select>
        <div class="space-select-button"></div> -->
        <button id="targetScroll">Buscar</button>
      </form>
      <!-- <select class="select2">
        <option value="all" selected>&nbsp;&#xf009;&nbsp;&nbsp;Tipo</option>
        <option value="job">&nbsp;&#xf0f2;&nbsp;&nbsp;Estágio/Emprego</option>
        <option value="event">&nbsp;&#xf005;&nbsp;&nbsp;Evento</option>
        <option value="specialization">&nbsp;&#xf518;&nbsp;&nbsp;Pós-Graduação</option>
      </select> -->
    </div>
    <div class="image">
      <img src="../../../assets/images/pages/community/image-page-community.svg">
    </div>
  </section>
  <div class="sort">
    <h2 *ngIf="searchInput == ''">{{this.users.length}} resultados</h2>
    <h2 *ngIf="totalResults == 0 && searchInput != ''">0 resultados</h2>
    <h2 class="text-results" *ngIf="totalResults != 0">{{ totalResults }} {{
      (totalResults <= 1) ? 'resultado' : 'resultados' }}</h2>
  </div>
  <!--COMPONENTE DE LISTAGEM DE USUARIOS - Apagar div abaixo quando for implementar a listagem -->
  <div class="body">
    <div class="body-container">
      <div class="left-container">
        <div class="user-list">
          <user-card *ngFor="let user of visibleUsers" [user]=user [isSelected]=checkUserSelected(user)
            (click)=changeUserSelected(user)></user-card>
        </div>
        <div class="pagination">
          <pagination [changePageFunction]="changePageFunction" [totalPages]="getQuantButtonPages()"
            [currentPage]="this.currentPage"></pagination>
        </div>
      </div>
      <div class="right-container">
        <detail-card [user]=getUserSelected()></detail-card>
      </div>
    </div>
  </div>
</div>
