<div class="container">
    <section class="head">
        <div class="search-bar">
            <h1>Encontre <span>pessoas</span><br>facilmente!</h1>
            <form>
              <i class="fas fa-search"></i>
              <input class="search-input" type="text" placeholder="Quem deseja procurar?">
              <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>
              <select class="select1" style="color: #8f8f8f">
                  <option value="all" selected>&nbsp;&#xf009;&nbsp;&nbsp;Tipo</option>
                  <option value="job">&nbsp;&#xf0f2;&nbsp;&nbsp;Estágio/Emprego</option>
                  <option value="event">&nbsp;&#xf005;&nbsp;&nbsp;Evento</option>
                  <option value="specialization">&nbsp;&#xf518;&nbsp;&nbsp;Pós-Graduação</option>
              </select>
              <button>Buscar</button>
            </form>
            <select class="select2">
                <option value="all" selected>&nbsp;&#xf009;&nbsp;&nbsp;Tipo</option>
                <option value="job">&nbsp;&#xf0f2;&nbsp;&nbsp;Estágio/Emprego</option>
                <option value="event">&nbsp;&#xf005;&nbsp;&nbsp;Evento</option>
                <option value="specialization">&nbsp;&#xf518;&nbsp;&nbsp;Pós-Graduação</option>
            </select>
        </div>
        <div class="image">
            <img src="../../../assets/images/pages/community/image-page-community.svg">
        </div>
    </section>
    <div class="sort">
        <p *ngIf="totalResults == null || totalResults == undefined">0 resultado</p>
        <p *ngIf="totalResults != null || totalResults != undefined">{{ totalResults }} {{ (totalResults == 1 || totalResults == 0) ? 'resultado' : 'resultados' }}</p>
    </div>
    <!--COMPONENTE DE LISTAGEM DE USUARIOS - Apagar div abaixo quando for implementar a listagem -->
    <div style="height: 10vh; align-content: center; display: grid; justify-content: center;">Listagem Aqui</div>
</div>