/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Montserrat", sans-serif;
    color: #2a2f43;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #05b962;
    background: #2a2f43;
}


/* Custom Scrollbar */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #8f8f8f;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #747474;
}