/* You can add global styles to this file, and also import other style files */
* {
  font-family: "monteserrat";
}
p {
  font-family: "monteserrat";
  font-weight: regular;
}
@font-face {
  font-family: "monteserrat";
  src: url(assets\fonts\Montserrat-Medium.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "monteserrat";
  src: url(assets\fonts\Montserrat-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "monteserrat";
  src: url(assets\fonts\Montserrat-Regular.ttf) format("truetype");
  font-weight: regular;
}
