<div class="page">
  <div class="page-container">
    <section class="section-1">
      <div class="left-container">
        <div class="title">
          <h1>Sua oportunidade</h1>
          <h1>de&nbsp;<span class="txt-type" data-wait="1500"
              data-words='["trabalho", "estágio", "especialização", "evento"]'></span></h1>
          <h1>está esperando você!</h1>
        </div>
        <div class="description">
          <h2>A oportunidade que você desejava agora a poucos cliques de distância.</h2>
        </div>
        <div class="search-container">
          <form>
            <div>
              <i class="eva eva-search-outline"></i>
              <input type="text" placeholder="Procurar empregos, estágios, eventos...">
            </div>
            <input type="submit" name="" value="Buscar">
          </form>
        </div>
      </div>
      <div class="right-container">
        <img src="../../../assets/images/pages/home/01.svg">
      </div>
    </section>
    <section class="section-2">
      <div class="left-container">
        <img src="../../../assets/images/pages/home/02.svg">
      </div>
      <div class="right-container">
        <div class="title">
          <h1>Encontre vagas de</h1>
          <h1>Emprego e Estágio</h1>
          <h1>Facilmente!</h1>
        </div>
        <div class="description">
          <h2>Consulte empregos em tempo integral e</h2>
          <h2>estágios perfeitos para você!</h2>
        </div>
        <button class="go-button">Começar agora</button>
      </div>
    </section>
    <section class="section-3">
      <div class="left-container">
        <div class="title">
          <h1>Buscando chances</h1>
          <h1>de Pós-graduação?</h1>
          <h1>Mestrado? Doutorado?</h1>
        </div>
        <div class="description">
          <h2>Aqui você encontrá-ra diversas oportunidades</h2>
          <h2>de especialização oferecidas por várias</h2>
          <h2>instituições.</h2>
        </div>
        <button class="go-button">Buscar agora</button>
      </div>
      <div class="right-container">
        <img src="../../../assets/images/pages/home/03.svg">
      </div>
    </section>
    <section class="section-4">
      <div class="left-container">
        <img src="../../../assets/images/pages/home/04.svg">
      </div>
      <div class="right-container">
        <div class="title">
          <h1>Encontre um evento</h1>
          <h1>que melhor combine</h1>
          <h1>com você!</h1>
        </div>
        <div class="description">
          <h2>Com passos simples, você irá encontrar</h2>
          <h2>um evento perfeito para você!</h2>
        </div>
        <button class="go-button">Encontrar agora</button>
      </div>
    </section>
  </div>
</div>
