<div class="footer">
  <div class="footer-container">
    <div class="phrase_container">
      <h2 class="phrase_text"><p class="gray_text">“</p>&nbsp;Imagine uma nova história para</h2>
      <div class="line_down">
        <h2 class="phrase_text">sua vida e acredite nela.&nbsp;<p class="gray_text">”</p></h2>
        <h3 class="gray_text phrase_author">&nbsp;&nbsp;- Paulo Coelho</h3>
      </div>
    </div>
    <div class="options">
      <div>
        <img class="logo" src="../../assets/images/logo.svg"/>
      </div>
      <div class="options-container">
        <div class="columns">
          <div class="column">
            <a href="" class="option">Início</a>
            <a href="" class="option">Junte-se a nós</a>
          </div>
          <div class="column">
            <a href="" class="option">Oportunidades</a>
            <a href="" class="option">Privacidade</a>
          </div>
          <div class="column">
            <a href="" class="option">Pessoas</a>
            <a href="" class="option">Como Funciona</a>
          </div>
          <div class="column">
            <a href="" class="option">Sobre nós</a>
            <a href="" class="option">Segurança</a>
          </div>
        </div>
        <div class="row">
          <button class="contact-button">Contate-nos</button>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="copyright"><p>Copyright © 2021</p></div>
      <div class="social">
        <div class="info-text">TREE LTDA É UMA COMPANHIA REGISTRADA NO BRASIL NA PARAÍBA.<br>
        PARA MAIS DETALHES, POR FAVOR, VISITE NOSSA <a href="">POLÍTICA DE PRIVACIDADE</a>.</div>
        <div class="social-container">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div>
    </div>
  </div>
</div>
