<div class="container">
    <h1>Encontre pessoas<br>facilmente!</h1>
    <div class="search-bar">
        <i class="fa fa-search"></i>
        <input class="input-search" placeholder="Quem deseja procurar?">
        <button>Buscar</button>
    </div>
    <div class="sort">
        <p>5 resultados</p>
        <select>
            <option value="recentes" selected>Ordenar por: Mais recentes</option>
            <option value="antigos">Ordenar por: Mais antigos</option>
        </select>
    </div>
</div>