<div class="register">
    <div class="left-container">
        <div class="left-container-body">            
            <div class=logo>
                <img src="../../assets/images/logo.svg"/>
            </div>
            <div class=register-person>
                <img src="../../assets/images/register.svg">                          
                <div class="phrase-text">
                    <h1>Inicie de graça e obtenha</h1>
                    <h1>várias oportunidades</h1>
                </div>   
            </div>           
        </div>
    </div>  
    <div class="right-container"> 
        <div>     
                <h1>Cadastrar-se</h1>  
            <div class=header-register>
                <h2> Já possui uma conta?</h2> &nbsp;
                <h2 class="text-pink">Entrar</h2>
            </div>
        </div>  
        <div class="columns">
            <form>
                <div>                    
                <div class="name-input">
                    Nome <input type="text" name="firstname"/>
                </div>
                <div class="lastname-input">
                    Sobrenome <input type="text" name="lastname"/>
                </div>                    
                </div>
                <br>
                E-mail <input type="email" name="email_user"/>
                <br><br>
                Senha <input type="text" name="password"/>
            </form>             
            <button class="button" type="submit">Cadastrar-se</button>
        </div>            
    </div>
</div>