<div class="container">
  <div class="container-body">
    <div class="firstLine">
      <div class="foto-name">
        <img *ngIf="user != null" class="icoPerson" src="{{ user.imageUrl }}">
        <h1 *ngIf="user != null">{{ user.firstName }} {{user.lastName}}</h1>
      </div>
      <i *ngIf="vacancy != null" class="fa fa-suitcase ico1 fa-4x"></i>
      <h1 *ngIf="vacancy != null">{{ vacancy.description }}</h1>
      <i class="far fa-envelope"></i>
    </div>
    <div class="secondLine">
      <div *ngIf="vacancy != null" style="display: inline-flex;">
        <h4 class="address">{{ vacancy.promoter }} &nbsp; • &nbsp;</h4>
        <h4>{{ vacancy.address.city }}, {{ vacancy.address.state }}</h4>
      </div>
      <div class="clockIcon">
        <i class="far fa-clock"></i> &nbsp; &nbsp;
        <!-- <h4 *ngIf="vacancy != null">Postado a {{ createdTo(vacancy.created_at) }} atrás</h4> -->
        <h4 *ngIf="user != null">{{ createdTo(user.created_at) }}</h4>
      </div>
    </div>
    <div>
      <h2>Descrição</h2>
      <p class="description">
        {{ user == null ? vacancy.description : user.description }}
      </p>
      <!-- <div *ngIf="vacancy != null && vacancy.qty != undefined && vacancy.qty != 0">
        <h2>Sobre a oportunidade</h2>
        <ul>
          <li>{{ vacancy.qty }} {{ vacancy.qty == 1 ? ' vaga.' : ' vagas.'}}</li>
          <li>Validade {{ vacancy.qty == 1 ? 'da vaga' : 'das vagas' }} : {{ vacancy.endDate.split(" ")[0] }}</li>
        </ul>
      </div>
      <h2 *ngIf="user != null">Sobre mim</h2> -->
    </div>
  </div>
</div>
