<div class="container">
    <div class="container-body">
          <div class="firstLine">
              <div class="foto-name">
                <img *ngIf="item.firstName" class="icoPerson" src="{{ item.profilePhoto }}">
                <h1 *ngIf="item.firstName">{{ item.firstName }}</h1>
              </div>
              <i class="far fa-envelope"></i>
          </div>
          <div class="secondLine">
              <h4>{{ item.address.place }} . {{ item.address.city }}, {{ item.address.state }}</h4>
              <h4 *ngIf="!item.firstName">Postado a 2 dias atrás</h4>
              <h4 *ngIf="item.firstName">Conta criada a 2 dias atrás</h4>
          </div>
      <div>
          <h2>Descrição</h2>
          <p class="description">
              {{ item.description }}
          </p>
          <h2 *ngIf="!item.firstName">Sobre a oportunidade</h2>
          <h2 *ngIf="item.firstName">Sobre mim</h2>
          <p class="description">
              {{ item.description }}
          </p>
        </div>
    </div>
</div>
