<nav>
  <div class="nav-container">
    <input type="checkbox" id="check">
    <div class="left-container">
      <img href="/" class="logo" src="../../../assets/images/logo.svg"/>
      <ul>
        <li><a class="actived" href="/">Início</a></li>
        <li><a href="#">Oportunidades</a></li>
        <li><a routerLink="/community">Pessoas</a></li>
        <li><a href="#">Como fuciona</a></li>
        <li><a href="#">Sobre</a></li>
    </ul>
    </div>
    <div class="right-container">
      <div class="row">
        <a href="#">Entrar</a>
        <button class="signup-button">Cadastrar-se</button>
      </div>
    </div>
    <label for="check" class="checkbtn">
      <div id="toggle" #drawer (click)="actionDrawer()"></div>
    </label>
  </div>
</nav>
