<nav>
  <div class="nav-container">
    <input type="checkbox" id="check">
    <div class="left-container">
      <img href="/" class="logo" src="../../../assets/images/logo.svg"/>
      <ul>
        <li><a class="actived" href="/">Início</a></li>
        <li><a routerLink="/">Oportunidades</a></li>
        <li><a routerLink="/community">Comunidade</a></li>
        <li><a routerLink="/">Como fuciona</a></li>
        <li><a routerLink="/">Sobre</a></li>
    </ul>
    </div>
    <div class="right-container">
      <div class="row">
        <a href="#">Entrar</a>
        <button class="signup-button">Cadastrar-se</button>
      </div>
    </div>
    <label for="check" class="checkbtn">
      <div id="toggle" #drawer (click)="actionDrawer()"></div>
    </label>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</nav>
