<div class="opp-register">
  <div *ngIf="this.calendarIsActive || this.secondCalendarIsActive">
    <calendar [isFirst]="this.calendarIsActive ? true : false"
      [isActive]="this.calendarIsActive || this.secondCalendarIsActive" [changeDateFunction]="changeDateFunction"
      [currentDate]="this.calendarIsActive ? this.currentDate : this.secondDate"></calendar>
  </div>
  <div class="left-container" fxFlex="50">
    <div class="left-container-body">
      <img class="logo" src="../../assets/images/logo.svg" />
      <div class=register-person>
        <img src="{{this.imagePath}}">
        <div class="phrase-text">
          <h1>Olá, {{this.name}}! Que oportunidade</h1>
          <h1>iremos adicionar hoje?</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container" fxFlex="50" fxFlex.md="100" fxFlex.lg="100" fxFlex.sm="100" fxFlex.xl="100"
    fxFlex.xs="100">
    <div class="header">
      <div class="header-left">
        <h1>Adicionar</h1>
        <h1>{{this.vancacy}}</h1>
      </div>
      <div class="header-right">
        <div>
          <i class="eva eva-briefcase-outline icons"
            [ngClass]="this.category == 'EMPREGO' ? 'actived category-one' : 'not-actived'"
            (click)="this.changeCategory('EMPREGO')" data-test="option-job"></i>
        </div>
        <div>
          <i class="eva eva-star-outline icons"
            [ngClass]="this.category == 'EVENTO' ? 'actived category-two' : 'not-actived'"
            (click)="this.changeCategory('EVENTO')" data-test="option-event"></i>
        </div>
        <div>
          <i class="eva eva-book-open-outline icons"
            [ngClass]="this.category == 'ESPECIALIZACAO' ? 'actived category-three' : 'not-actived'"
            (click)="this.changeCategory('ESPECIALIZACAO')" data-test="option-specialization"></i>
        </div>
      </div>
    </div>
    <div class="columns">
      <form [formGroup]="oppForm">
        <div class="first-row" fxLayout="row" fxLayout.md='column'
          fxLayout.lg='{{this.category == "EVENTO" ? "column": "row"}}'
          fxLayout.sm='{{this.category == "EVENTO" ? "column": "row"}}' fxLayout.xs="column">
          <!-- <div class="title-input" fxFlex='{{this.category == "EVENTO" ? "40" : "100"}}'> -->
          <div class="title-input" fxFlex='100' id="titleId">
            <p>Título</p>
            <div class="first-line" fxLayout="row" fxLayout.md="{{this.category == 'EVENTO' ? 'column' : 'row'}}"
              fxLayout.sm="{{this.category == 'EVENTO' ? 'column' : 'row'}}" fxLayout.xs="column">
              <input formControlName="title" type="text" name="title" fxFlex="100"
                fxFlex.lg="{{this.category == 'EVENTO' ? '40' : '100'}}" data-test="opp-title" />
              <div class="select-date" fxFlex="{{this.category == 'EMPREGO' ? '25' : '60'}}"
                *ngIf="this.category == 'EMPREGO' || this.category == 'EVENTO'">
                <div class="btn-first-date" fxFlex="100">
                  <button class="btn-active-calendar" (click)="this.setCalendarActive(true)" id="dateId">
                    <div><i class="eva eva-calendar-outline"></i>{{firstOpenCalendar ? 'Data Início' :
                      getDateFormated(true)}}
                    </div>
                  </button>
                </div>
                <div *ngIf="this.category == 'EVENTO'" class="btn-second-date" fxFlex="100">
                  <button class="btn-active-second-calendar" (click)="this.setCalendarActive(false)" id="endDateId">
                    <div><i class="eva eva-calendar-outline"></i>{{firstOpenSecondCalendar ? 'Data Fim' :
                      getDateFormated(false)}}
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <small *ngIf="oppForm.get('title').invalid && oppForm.get('title').touched" class="text-danger">Informe o
              título</small>
          </div>
          <div class="type-input" *ngIf=" this.category == 'ESPECIALIZACAO'" fxFlex="40" id="typeId">
            <p>Tipo</p>
            <input formControlName="especializationType" id="type" type="text" *ngIf="this.category == 'ESPECIALIZACAO'"
              placeholder="Ex: Pós-graduação" data-test="type-specialization">
            <small *ngIf="checkInputAndType('especializationType','ESPECIALIZACAO')" class="text-danger">Informe o tipo
              de
              especialização</small>
          </div>
        </div>
        <p>Email de contato</p>
        <div class="email-input" data-test="opp-email" id="emailId">
          <i class="eva eva-email-outline"></i>
          <input formControlName="email" type="email" name="email" placeholder="exemplo@email.com" />
        </div>
        <small *ngIf="oppForm.get('email').invalid && oppForm.get('email').touched" class="text-danger">Informe o
          email
          de contato</small>
        <div class="adress">
          <div fxFlex=' {{this.category == "ESPECIALIZACAO" ? "49" : "100" }}' fxLayout="column wrap">
            <p *ngIf="this.category == 'EVENTO'">Endereço</p>
            <p *ngIf="this.category =='ESPECIALIZACAO'">Instituição</p>
            <div class="adress-input" *ngIf="this.category == 'EVENTO' || this.category =='ESPECIALIZACAO'"
              id="adressOrTypeId">
              <i class="far fa-building" *ngIf="this.category =='ESPECIALIZACAO'"></i>
              <i class="eva eva-compass-outline" *ngIf="this.category == 'EVENTO'"></i>
              <input formControlName="adressOrInstitution" type="text" name="adress" fxFlex="100"
                data-test="opp-address" />
            </div>
            <small *ngIf="checkInputAndType('adressOrInstitution', 'EVENTO')" class="text-danger">Informe o
              endereço</small>
            <small *ngIf="checkInputAndType('adressOrInstitution','ESPECIALIZACAO')" class="text-danger">Informe o nome
              da
              Instituição</small>
          </div>
          <div *ngIf="this.category =='ESPECIALIZACAO'" fxFlex="49" fxLayout="column wrap">
            <p>Bolsa</p>
            <div class="bolsa-input" *ngIf="this.category =='ESPECIALIZACAO'" id="scholarshipId">
              <div class="input-money" data-test="opp-scholarship">
                <i class="fa fa-money"></i>
                <p>R$</p>
              </div>
              <input formControlName="scholarship" currencyMask data-test="opp-scholarship"
                [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'left' }" type="text" name="bolsa" />
            </div>
            <small *ngIf="checkInputAndType('scholarship','ESPECIALIZACAO')" class="text-danger">Informe o valor da
              bolsa</small>
          </div>
        </div>
        <div class="third-line" fxLayout.xs="column" fxLayout="row">
          <div class="wage" *ngIf="this.category == 'EMPREGO'">
            <p>Salário</p>
            <div class="wage-input" id="wageId">
              <div class="input-money">
                <i class="fa fa-money"></i>
                <p>R$</p>
              </div>
              <input formControlName="salary" currencyMask
                [options]="{ prefix: ' ', thousands: '.', decimal: ',', align: 'left' }" type="text" name="wage"
                data-test="opp-salary" />
            </div>
          </div>
          <div class="type-input" *ngIf="this.category == 'EMPREGO'" fxFlex="100">
            <p>Tipo</p>
            <div class="buttons-option" fxFlex="100" data-test="type-vancancy">
              <div class="job-option" fxFlex="100" data-test="job">
                <a class="job" [ngClass]='this.typeJob == "emprego" ? "actived" : "not-actived"'
                  (click)="changeTypeJob('emprego')" fxFlex="100">Emprego</a>
              </div>
              <div class="work-ex-option" fxFlex="100" data-test="work-ex">
                <a class="work-experience" [ngClass]='this.typeJob == "estagio" ? "actived" : "not-actived" '
                  (click)="changeTypeJob('estagio')" fxFlex="100">Estágio</a>
              </div>
            </div>
          </div>
        </div>
        <small *ngIf="checkInputAndType('salary', 'EMPREGO')" class="text-danger">Informe o
          valor do salário</small>
        <p>Descrição</p>
        <div class="desc-input" id="desc">
          <textarea rows="3" oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight - 30 +'px'"
            id="text-auto-expand" formControlName="description" placeholder="Adicionar descrição..."
            data-test="opp-description"></textarea>
        </div>
        <small *ngIf="oppForm.get('description').invalid && oppForm.get('description').touched"
          class="text-danger">Informe a descrição da oportunidade</small>
      </form>
      <button (click)="subForm()" [disabled]="this.checkData()" class="button" type="button"
        data-test="submit">Cadastrar</button>
    </div>
  </div>
</div>