<div class="opp-register">
    <div class="left-container">
        <div class="left-container-body">            
            <div class=logo>
                <img src="../../assets/images/logo.svg"/>
            </div>
            <div class=register-person>
                <img src="../../assets/images/pages/opp-register/job.svg">                          
                <div class="phrase-text">
                    <h1>Olá, Nome! Que oportunidade</h1>
                    <h1>iremos adicionar hoje?</h1>
                </div>   
            </div>           
        </div>
    </div>  
    <div class="right-container"> 
        <div class="header">
            <div class="header-left">     
                <h1>Adicionar</h1>  
                <h1>Emprego/Estágio</h1> 
            </div>
            <div class="header-right">
                <div>
                    <a href="#" class="fas fa-suitcase icons"></a>
                </div>
                <div>
                    <a class="far fa-star icons"></a>
                </div>
                <div>
                    <a class="fas fa-book-open icons"></a>
                </div>   
            </div> 
        </div>        
        <div class="columns">
            <form>
                <div class="fist-row">                    
                    <div class="title-input">
                        <p>Título</p>
                        <input type="text" name="title"/>
                    </div>               
                    <div class="date-input">
                        <p>Data</p>
                        <input id="date" type="date">
                    </div> 
                </div>        
                <p>Email de contato</p>
                <div class="email-input">
                    <i class="far fa-envelope"></i>
                    <input type="email" name="email"/>  
                </div>                               
                <div> 
                    <div class="wage">
                        <p>Salário</p>
                        <div class="wage-input"> 
                            <i class="fa fa-money" aria-hidden="true"></i>
                            <input type="text" name="wage"/>
                        </div> 
                    </div>
                    <div class="type-input">
                        <p>Tipo</p>
                        <div class="buttons-option">
                            <div class="job-option">
                                <button class="job">Emprego</button>
                            </div>
                            <div class="work-ex-option">
                                <button class="work-experience">Estágio</button>
                            </div> 
                        </div>                      
                    </div>                     
                </div> 
                <p>Descrição</p> 
                <div class="desc-input">
                    <textarea></textarea>
                </div>     
            </form>             
            <button class="button" type="submit">Cadastrar</button>
        </div>            
    </div>
</div>
