.opp-register {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 50vw;
  background: #2a2f43;
}

.left-container-body {
  margin: 3vh;
}

.logo img {
  width: 15vh;
  margin-left: 5vh;
}

.register-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 80vh;
  align-items: center;
}

.register-person img {
  width: 40vw;
  margin-bottom: 20px;
}

.phrase-text h1 {
  color: white;
  margin: 0;
  font-size: 3vh;
  font-weight: 600px;
  text-align: center;
}

.right-container {
  width: 50vw;
  padding: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 10px;
}

.icons.actived {
  margin-left: 20px;
  padding: 10px;
  color: white;
  border-radius: 1vh;
  border-right: transparent;
  font-size: 2.5vh;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.category-one {
  background: #fdcb6e;
}

.category-two {
  background: #6c5ce7;
}

.category-three {
  background: #b2bec3;
}

.icons.not-actived {
  margin-left: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 1vh;
  border-right: transparent;
  font-size: 2.5vh;
}

.icons {
  cursor: pointer;
}

.text-pink {
  color: #fc6681;
}

.right-container h1 {
  margin: 0;
  font-size: 4vh;
}

.columns {
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

form {
  width: 100%;
  font-size: 2.5vh;
}

form p {
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
}

form div {
  display: flex;
  justify-content: space-between;
}

.fist-row {
  display: flex;
  width: 100%;
  max-height: 252.38px;
  justify-content: space-between;
}

.title-input {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-right: 10px;
}

.date-input {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.title-input input,
.date-input input {
  padding: 2vh;
}

form div > .wage {
  display: flex;
  justify-content: stretch;
}

.wage {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  width: 100%;
}

.email-input,
.wage-input,
.adress-input,
.bolsa-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  border-radius: 1vh;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.email-input:focus-within,
.wage-input:focus-within,
.adress-input:focus-within,
.bolsa-input:focus-within {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.email-input input,
.wage-input input,
.adress-input input,
.bolsa-input input {
  border: transparent;
  width: 100%;
  height: 0vh;
}

.email-input input:focus,
.wage-input input:focus,
.adress-input input:focus,
.bolsa-input input:focus {
  box-shadow: none;
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

i {
  padding: 2vh 0 2vh 2vh;
  color: rgba(0, 0, 0, 0.25);
  border-radius: 1vh 0 0 1vh;
  border-right: transparent;
}

.type-input {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.type-input .job-option,
.work-ex-option {
  margin: 10px 0;
}

.job-option {
  padding-right: 5px;
}

.work-ex-option {
  padding-left: 5px;
}

input,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1vh;
  margin-top: 10px;
}

textarea {
  resize: none;
  height: 10vh;
  width: 100%;
  padding: 1vw;
}

input {
  font-size: 2vh;
  padding: 1vh;
}

.buttons-option button {
  background: #05b967;
  text-align: center;
  color: white;
  font-size: 2.5vh;
  font-weight: bold;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 1vh;
  padding: 1vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.button {
  background: #fc6681;
  text-align: center;
  color: white;
  font-size: 2.5vh;
  font-weight: bold;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 1vh;
  padding: 1vw 3vw;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
