<div class="container">
  <div class="body">
    <div class="header">
        <i class="{{this.icon}}" [ngStyle]="{'background': this.color}"></i>
      <div class="vacancy">
          <h1 class="title">Meu exemplo de vaga</h1>
      </div>
    </div>
    <div class="description">
      <p>
        Lorem ipsum tellus vulputate scelerisque vulputate cras ante, elementum sollicitudin ipsum ad vivamus tempus a, ac augue ad aliquam feugiat netus.
        quam suspendisse etiam mattis pellentesque donec commodo quisque, senectus scelerisque odio aliquet dictumst facilisis torquent, nisi justo dolor vehicula faucibus aliquam.
      </p>
    </div>
  </div>
</div>
