
<div class="vacancyCard">
  <div class="Job">
    <!-- <div class="{{vacancyCard.type}}"> -->
  <div class="header">
    <div class="vacancy-icon">
      <div class="color-Job">
      <!-- <div class="color-{{vacancyCard.type}}"> -->
      <img class="icon-vacancy-Job" src= "..\assets/briefcase.svg" >
      <!-- <img class="icon-vacancy-{{vacancyCard.type}}" src= "{{vacancyCard.imgUrl}}" alt="card"> -->
      </div>
    </div>
    <div class="vacancy">
      <h1 class="title">Meu exemplo de vaga </h1>
        <!-- <h1 class="title">{{vacancyCard.title}}</h1> -->
    </div>
  </div>
  <div class="description">
  <p>
    Lorem ipsum tellus vulputate scelerisque vulputate cras ante, elementum sollicitudin ipsum ad vivamus tempus a, ac augue ad aliquam feugiat netus.
quam suspendisse etiam mattis pellentesque donec commodo quisque, senectus scelerisque odio aliquet dictumst facilisis torquent, nisi justo dolor vehicula faucibus aliquam.
aliquet curabitur vitae id varius lectus suscipit sed, egestas sodales adipiscing ut urna sit quisque consequat, leo feugiat purus velit fringilla quis.
habitasse inceptos mauris congue vivamus rutrum netus ipsum fames pulvinar, laoreet diam himenaeos congue porttitor ut lectus aliquam, a hendrerit nunc quisque cras condimentum cursus felis.
    <!-- {{vacancyCard.description}} -->
  </p>
  </div>
</div>
</div>
