<div class="container">
    <div class="container-mean">
        <div class="container-end">
            <div>
                <div class="line"></div>
                <h1>Como Funciona</h1>
                <p>Vamos ajudar você a encontrar a oportunidade <br>que deseja!</p>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <div class="border-white">
                    <p class="number">1</p>
                </div>
                <div>
                    <img src="../../../assets/images/pages/how-it-works/search-opp.svg">
                    <h3>Pesquise por uma</h3>
                    <h3>oportunidade</h3><br>
                    <p>Na página de oportunidades <br> você poderá ver nossa lista e <br> pesquisar qualquer <br>
                        oportunidade cadastrada em <br>nosso site.</p>
                </div>
            </div>
            <div class="card">
                <div class="border-white">
                    <p class="number">2</p>
                </div>
                <div>
                    <img src="../../../assets/images/pages/how-it-works/s-type.svg">
                    <h3>Selecione por um tipo</h3>
                    <h3>específico</h3><br>
                    <p>Não tem em mente uma <br> oportunidade específica, ou <br> deseja pesquisar por tipo? <br> Você
                        pode filtrar entre: <br> <strong>Emprego/ Estágio, Evento/</strong> e <br>
                        <strong>Especialização.</strong>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="border-white">
                    <p class="number">3</p>
                </div>
                <div>
                    <img src="../../../assets/images/pages/how-it-works/message_sent 1.svg">
                    <h3>Encontrou? Entre em</h3>
                    <h3>contato!</h3><br>
                    <p>Após encontrar a <br> oportunidade que estiver <br> procurando, ou a que lhe <br> mais agradar,
                        entre em <br> contato enviando um email, <br> demostrando seu interesse.</p>
                </div>
            </div>
            <div class="card">
                <div class="border-white">
                    <p class="number">4</p>
                </div>
                <div>
                    <img src="../../../assets/images/pages/how-it-works/Mail_re_duel 1.svg">
                    <h3>Pronto! Agora é só</h3>
                    <h3>aguardar.</h3><br>
                    <p>No fim, depois de ter <br> seguido todos os passos <br> mostrados, e ter enviado um <br> email
                        demostrando <br> interesse, agora é só esperar <br> o resultado.</p>
                </div>
            </div>
        </div>
    </div>
</div>