<div class="container">
    <div class="container-mean">
        <div class="container-end">
            <div>
                <h1>Como Funciona</h1>
                <p>Vamos ajudar você a encontrar a oportunidade</p>
                <p>que deseja!</p>
            </div>
        </div>
        <div class="container-cards">
            <div class="cards">
                <div class="card-one">
                    <div>
                        <img src="../../../assets/images/pages/how-it-works/search-opp.svg">
                        <h3>Pesquise por uma</h3>
                        <h3>oportunidade</h3>
                        <p>Na página de oportunidades</p>
                        <p>você poderá ver nossa lista e</p>
                        <p>pesquisar qualquer</p>
                        <p>oportunidade cadastrada em</p>
                        <p>nosso site</p>
                    </div>
                </div>
                <div class="card-two">
                    <img src="../../../assets/images/pages/how-it-works/s-type.svg">
                    <h3>Selecione por um tipo</h3>
                    <h3>específico</h3>
                    <p>Não tem em mente uma</p>
                    <p>oportunidade específica, ou</p>
                    <p>deseja pesquisar por tipo?</p>
                    <p>Você pode filtrar entre:</p>
                    <p><span class="negrito">Emprego/ Estágio, Evento/</span> e</p>
                    <p><span class="negrito">Especialização.</span></p>
                </div>
                <div class="card-three">
                    <img src="../../../assets/images/pages/how-it-works/message_sent 1.svg">
                    <h3>Encontrou? Entre em</h3>
                    <h3>contato!</h3>
                    <p>Após encontrar a</p>
                    <p>oportunidade que estiver</p>
                    <p>procurando, ou a que lhe</p>
                    <p>mais agradar, entre em</p>
                    <p>contato enviando um email,</p>
                    <p>demostrando seu interesse.</p>
                </div>
                <div class="card-four">
                    <img src="../../../assets/images/pages/how-it-works/Mail_re_duel 1.svg">
                    <h3>Pronto! Agora é só</h3>
                    <h3>aguardar.</h3>
                    <p>No fim, depois de ter</p>
                    <p>seguido todos os passos</p>
                    <p>mostrados, e ter enviado um</p>
                    <p>email demostrando</p>
                    <p>interesse, agora é só esperar</p>
                    <p>o resultado.</p>
                </div>
            </div>
        </div>
    </div>
</div>