.container {
    margin: 1em;
}

.search-bar {
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #bfbfbf;
    border-radius: 0.5em;
    align-content: space-between;
    justify-content: space-between;
    max-width: 60%;
}

.search-bar input {
    border: none;
    padding: 0.5em;
}

.sort {
    display: flex;
    max-height: 1.5em;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    justify-content: space-between;
}

.fa-search {
    align-self: center;
    padding: 0.5em;
    color: #bfbfbf;
}